<div [comp-highlight]="'saddlebrown'"><div class="a2componentname" [comp-highlight-title]>Document component</div>
  <!--div class="row">
    <div class="col-sm-6">
      <app-customer-summary [searchEnabled]="false"></app-customer-summary>
    </div>
    <div class="col-sm-1">Documento</div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-1">
      <md-checkbox [checked]="true" align="end">
        Verificato
      </md-checkbox>
    </div>
  </div-->

  <md-card>
    <app-customer-summary [searchEnabled]="false"></app-customer-summary>
    <md-card>
      <md-checkbox [checked]="true" align="end">
        Verificato
      </md-checkbox>
    </md-card>
  </md-card>

</div>

