
<div [comp-highlight]="'yellow'"><div class="a2componentname" [comp-highlight-title]>Payment </div>
    
    <app-error-manager *ngIf="serviceInError" [remoteServiceName]="serviceInError"></app-error-manager>

    <app-customer-summary-list></app-customer-summary-list>
    
    <app-payment-validation-exception 
        *ngIf="advValidationException()" 
        [validationResponse]="this.session.advValidationResponse">
    </app-payment-validation-exception>

    <router-outlet></router-outlet>
    
</div>