/* You can add global styles to this file, and also import other style files */

.app-input-icon {
  font-size: 16px;
}

.app-pay-input {
  width: 100%;
}

.a2componentname {
  color: darkred;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  border-width: thin;
  border-style: solid;
  border-color: darkred;
  background-color: lightgray;
  /*display: none;*/
}

.disabled-form {
  background-color: lightgray;
}
.disabled-input {
  background-color: lightslategray;
}